
        <div id="footer" class="mb-5">
            <hr>
            <div class="container text-center">              
                    <a href="mailto:noah.spahn@cs.ucsb.edu" class="fas fa-envelope fa-1x" title="Email"></a>
                    <a href="https://github.com/noah-de" class="fab fa-github fa-1x" title="GitHub"></a>
                    <a href="https://twitter.com/versorge" class="fab fa-twitter fa-1x" title="Twitter"></a>
            </div>
        </div>
        </body>
        </html>