<div class="container">

    <nav class="navbar navbar-expand-lg navbar-light bg-Light">
        <div class="d-flex flex-grow-1">
            <span class="w-100 d-lg-none d-block"></span>
              <a class="navbar-brand" href="/">
              Something
              </a>
            <div class="w-100 text-right">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar7">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <div class="navbar-nav ml-auto flex-nowrap">
            <a class="nav-item nav-link" href="/publications/"><i data-feather="book-open"></i> Publications</a>          
        </div>
        </div>
    </nav>
</div>
<div class="container">
<h1>{{ .Title  }}</h1>
</div>
